<H1>From Fillup</H1>
<div>
    <form>
        Enter your first Name <br>
        <input type="text" name="username">
        <br>
        Enter your Last Name <br>
        <input type="text" name="username"><br>
        Enter your age<br>
        <input type="number"><br>
        <input type="radio" name="gender" value="Male">Male
        <input type="radio" name="gender" value="Female">Female
        <br>
        Enter your phone number<br>
        <input type="text" name="number"><br>
        Enter your Address<br>
        <input type="text"><br>
        <br>
        <button>Submit</button>
    </form>
</div>
<router-outlet></router-outlet>